{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<h1>My Projects</h1>
<p>This is the projects page.</p>


<div class="container">
    <div class="card text-bg-primary mb-3" style="max-width: 55rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      
      <div class="card text-bg-secondary mb-3" style="max-width: 55rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    
</div>


<div class="container">
    
      <br>
      <div class="container" style="margin-bottom:10vw">
        <div class=" label">
            <h3 class="head1">Project Management</h3><br>
        </div>
        <a href="" class="btn btn-success">Add To Project</a> 
        <a href="" class="btn btn-danger">Delete From Project</a>
      </div>
</div>



{% endblock %}
